body {
  color: #000000;
  font-family: arial;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

footer {
  color: #888888;
  border-top: 1px solid #eeeeee;
#  margin-top: 16px;
  padding: 16px 0;
}

h1 {
  font-size: 32px;
  margin-bottom: 16px;
}

h3 {
  font-size: 16px;
  margin-bottom: 16px;
}

input {
 text-align: center;
}
