<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" href"/img/measure.png">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <form>
      <input placeholder="Millimeters" type="text" maxlength="255">
      <button>Convert</button>
    </form>
    <p id=conversion></p>
  </div>
  {{>footer}}
  <script src="/scripts/app.js"></script>
</body>
</html>
