<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" href="/public/css/styles.css">
  <title>Version: Go</title>
</head>

<body>
    <div class="main-content">
    {{template "header.html" .}}
    <form>
	<input 
	     type="number"
	     name="milli"
             step=".01"
             min="0.01"
             placeholder="Millimeters"
             maxlength="255"
             required>
     <input type="submit"
            value="Convert">
    </form>
    <p id=conversion></p>
    </div>
    {{template "footer.html" .}}
  <script src="/public/scripts/app.js"></script>
</body>
</html>

